# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
build/
**/build/
.next/
**/.next/
out/
**/out/

# Environment files
.env
.env.local
.env.*.local
*.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
**/logs/

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Databases
*.db
*.db-journal
*.sqlite
*.sqlite3


# TypeScript
*.tsbuildinfo
